<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ObjectsList>
    <Tensometer>
        <id>0</id>
        <maxReading>0</maxReading>
        <name>Ten1</name>
        <scale>1.0</scale>
        <unit>N</unit>
    </Tensometer>
    <Encoder>
        <id>0</id>
        <maxReading>0</maxReading>
        <name>Enc1</name>
        <scale>1.0</scale>
        <unit>N</unit>
        <variable>12</variable>
    </Encoder>
    <Encoder>
        <id>1</id>
        <maxReading>0</maxReading>
        <name>Enc2</name>
        <scale>1.0</scale>
        <unit>N</unit>
        <variable>12</variable>
    </Encoder>
    <Arduino>
        <deviceId>ch341</deviceId>
    </Arduino>
    <CombinationData>
        <name>TestName1tedttt</name>
        <iD>0</iD>
        <variableList>
            <name>var3</name>
            <value>1.0</value>
        </variableList>
        <variableList>
            <name>var0</name>
            <value>1.0</value>
        </variableList>
    </CombinationData>
</ObjectsList>
